    :root {
        --bg-principal: #161A2B;
        --bg-secundario: #23283E;
        --text-principal: #E4E6EB;
        --text-secundario: #8A91A6;

        --verde-menta: #74EBAF;
        --roxo-vibrante: #B030FF;
        --azul-controle: #5E64FF;

        --azul-controle-hover: #4B54D8;
        --roxo-vibrante-hover: #9A27E0;

        --vermelho: #FF4B6A;
        --amarelo: #FFD166;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: var(--text-principal);
        background-color: var(--bg-principal);
    }

    #tela_carregamento {
        width: 100%;
        height: 100%;
        background-color: var(--bg-principal);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #container_animacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70dvh;
    }

    #cerebro {
        position: relative;
        top: 32%;
        width: 20dvw;
        height: 30dvh;
        animation: pular_e_girar 2s linear infinite;
    }

    #controle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30dvw;
        height: 20dvh;
    }

    #cerebro img,
    #controle img {
        width: 100%;
        height: 100%;
    }

    #texto_carregamento {
        margin-bottom: 20px;
        font-size: 1.5em;
        color: var(--text-principal);
    }

    #carregamento {
        width: 60%;
        height: 20px;
        border-radius: 10px;
        background-color: var(--bg-secundario);
    }

    /* Tela Login */

    #tela_login {
        width: 100%;
        height: 100%;
        background-color: var(--bg-principal);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #container_login {
        background-color: var(--bg-secundario);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 60dvh;
        justify-content: center;
        position: relative;
        box-shadow: var(--text-principal) 0px 0px 2px;

    }

    #container_login h1 {
        font-size: 2em;
        color: var(--text-principal);
    }

    #login_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #login_form label {
        margin: 10px;
        font-size: 1.2em;
        color: var(--text-principal);
    }

    #login_form input {
        border-radius: 5px;
        width: 80%;
        padding: 5px;
        font-size: 20px;
        font-weight: bolder;
        color: var(--text-secundario);
    }

    #login_form input:focus {
        outline: none;
        border: 3px solid var(--azul-controle);
        transition: 500ms;
        transform: scale(1.05);
    }

    #login_form button {
        margin-top: 5dvh;
        width: 40%;
        height: 8dvh;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: var(--azul-controle);
        color: white;
        font-size: 1.5em;
        cursor: pointer;
        font-size: 27px;
        transition: background-color 0.5s ease;

    }

    #login_form button:hover {
        background-color: var(--azul-controle-hover);
        font-size: 30px;
        transition: 500ms;
        transform: scale(1.03);
    }

    #error_login {
        margin-top: 20px;
        color: var(--vermelho);
        font-size: 1.2em;
    }

    #botaoVoltar {
        position: absolute;
        top: -2%;
        left: -2%;
        width: 70px;
        height: 70px;
        background-color: var(--bg-principal);
        border-radius: 50%;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
         box-shadow: var(--text-principal) 1px 1px 3px;
    }

     #botaoVoltar:hover {
         transition: 500ms;
         transform: scale(1.1);
    }

    #botaoVoltar button {
        background: none;
        border: none;
        color: var(--text-principal);
        font-size: 35px;
        cursor: pointer;
        padding: 15px;
    }

    @keyframes pular_e_girar {
        0% {
            top: 22%;
            transform: rotate(0deg);
        }

        30% {
            top: 0%;
            transform: rotate(90deg);
        }

        50% {
            top: 0%;
            transform: rotate(180deg);
        }

        70% {
            top: 2%;
            transform: rotate(270deg);
        }

        100% {
            top: 22%;
            transform: rotate(360deg);
        }
    }